/*Variables Backgrounds*/
$bg_imagen:url('../images/fondos/kitchen9.jpg');
$bg_color_pagina:#f8f5f2;
$bg_color_chef:#040A44;
$bg_color_chef_hover:#F70669;
$bg_color_transparente:#ffffffb5;
$bg_color_social_media:#31303079;
$bg_color_whatsapp:#25D366;
$bg_color_whatsapp_hover:#128C7E;

/*Variables Colores*/
$color_social_media: #f8f8f8e0;
$color_social_media_hover: #f70669;
$color_blanco: white;
$opaco: 0.7;
$opaco_hover: 1;

/*Variables margin, padding y radios*/
$margin0: 0;
$margin0_10px:0 10px;
$padding0: 0;
$padding2px:2px;
$padding5px:5px;
$padding10px:10px;
$radio2: 2%;
$radio10: 10%;
$radio15px: 15px;

/*Fuentes*/
$sansita:"Sansita", serif;
$karla:"Karla", sans-serif; 