/*Imagenes*/
$bg_imagen:url('../images/fondos/kitchen9.jpg');

/*BG Colores*/
$bg_color_pagina:#f8f5f2;
$bg_color_transparente:#ffffffb5;
$bg_color_social_media:#31303079;
$bg_color_whatsapp:#25D366;
$bg_color_whatsapp_hover:#128C7E;

/*Colores*/
$color_social_media: #f8f8f8e0;
$color_social_media_hover: #f70669;
$color_blanco: white;

/*fuentes*/
$sansita:"Sansita", serif;
$karla:"Karla", sans-serif; 


/*Opacidad*/
$opaco: 0.7;
$opaco_hover: 1;

/*radios*/
$radio10: 10%;
$radio2: 2%;
$radio15px: 15px;

/*padding*/
$padding10px:10px;
$padding5px:5px;
$padding2px:2px;
$padding0: 0;
$padding0_5rem: .5rem;

/*margin*/
$margin0: 0;
$margin0_10px:0 10px;

* {
    margin: $margin0;
    padding: $padding0;
    box-sizing: border-box;
}

body {
    background-image: $bg_imagen;
    background-color: $bg_color_pagina;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div{
    padding: $padding10px;
}

h1,h2,h3,h4{
    padding: $padding5px;
}

p{
    padding: $padding10px;

}

.transparencia{
    background-color: $bg_color_transparente;
    border-radius: $radio2;
}

.imgServicio {
    border-radius: $radio10;
    opacity: $opaco;
    width: 200px;
    height: 200px;
        &:hover{
            opacity: $opaco_hover;
        }
}

form {
    border: 1px solid #040A44;
    border-radius: $radio15px;
    div{
        padding: $padding10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        input, label{
            padding: $padding5px;
            font-family: "Karla", sans-serif;
            font-size: 1.2rem;
        }
    }
}

.social-media {
    padding: $padding2px;
    background-color: $bg_color_social_media;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    a{
        margin:$margin0_10px;
        color: $color_social_media;
        font-size: 40px;
        text-decoration: none;
        transition: color 0.3s;
        &:hover{
            color: $color_social_media_hover;    
        }
    }
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $bg_color_whatsapp;
    color: $color_blanco;
    font-size: 40px;
    width: 70px;
    height: 70px;
    border-radius: $radio10*5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    &:hover{
        background-color: $bg_color_whatsapp_hover;    
    }
}

/**************************/
/*Fuentes*/
/**************************/
/*Sansita*/
.sansita-regular {
    font-family: $sansita;
    font-weight: 400;
    font-style: normal;
}

.sansita-bold {
    font-family: $sansita;
    font-weight: 700;
    font-style: normal;
}

.sansita-extrabold {
    font-family: $sansita;
    font-weight: 800;
    font-style: normal;
}

.sansita-black {
    font-family: $sansita;
    font-weight: 900;
    font-style: normal;
}

.sansita-regular-italic {
    font-family: $sansita;
    font-weight: 400;
    font-style: italic;
}

.sansita-bold-italic {
    font-family: $sansita;
    font-weight: 700;
    font-style: italic;
}

.sansita-extrabold-italic {
    font-family: $sansita;
    font-weight: 800;
    font-style: italic;
}

.sansita-black-italic {
    font-family: $sansita;
    font-weight: 900;
    font-style: italic;
}

/*karla*/
.karla-normal {
    font-family: $karla;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.karla-bold {
    font-family: $karla;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}