*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**************************/
/*imagenes*/
.imgLogo{
    width: 350px;
}

.imgPortada{
    width: 70%;
    padding: 10px;
}

.imgTextServicio{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    opacity: 0.7;
}
.imgTextServicio:hover{
    opacity: 1;
}

.textServicio{
    position: relative;
    color:#f70669;
    background-color: #040a44c5;
}

/**************************/
/*textos*/
h1 h2{
    padding: 30px;
}
h2{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

h3{
    padding: 10px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
h4{
    padding: 5px;
    margin: 5px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
p{
    padding: 10px;
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: justify;
    font-family: "Karla", sans-serif;
}

/**************************/
.contenedor{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;/*espacio entre cajas*/
    flex-wrap: nowrap;
}

.servicios-cont{
    padding: .5rem;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: center;/*para centrar elementos*/
    align-items: center;
}

.card{
    border: solid #ddd 1px;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.personal-cont{
    padding: .5rem;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;/*para centrar elementos*/
    align-items: center;
}
/*header con menu opciones*/
.header-titulo{
    text-align: center;
}

.header-nav{
    width: 90%;
    height: 90px;
    /*background-color: #040A44;*/
    background-color: #040a4485;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.header-contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header-logo img{
    width: 150px;
    padding: 5px;
    margin: 5px;
}

.header-menu{
    list-style-type: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header-link{
    color: white;
    text-decoration: none;
    padding: 0.7rem;
}
.header-link:hover{
    color: #f70669;
    background-color: #040A44;
    border-radius: 20px;
}

.logo{
    flex: 0 1 auto;  /* Mantiene el tamaño de la imagen sin estirarla */
}

.cabecera{
    flex: 1;  /* Toma el espacio restante a la derecha del logo */
    
}

.portada{
    margin: 0 auto;
    text-align: center;
}

.contenido
{
    margin: 0 auto;
    overflow: auto;
    text-align: center;
}

.contenido h2, p, form{
    text-align: center;
}

/*tabla*/
table{
    margin: auto;
    padding: 10px;
    font-size: 1.5rem;
}
th{
    padding: 2px;
}

.complemento{
    margin: 10px auto;
}

.complemento p{
    text-align: center;
    overflow: auto;
}

.contacto{
    margin: 0 auto;
    padding: 2px;
}

/**************************/

header{
    padding: 10px;
}

footer{
    margin: 0 auto;
    padding: 20px;
}

/**************************/

/*redes*/
.social-media{
    padding: 2px;
}
.social-media a{
    /*color: #fff;*/
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #f70669;
}

.whatsapp {
    position: fixed;
    bottom: 20px;  /* Distancia desde la parte inferior de la ventana */
    right: 20px;   /* Distancia desde la parte derecha de la ventana */
    background-color: #25D366;
    color: white;
    font-size: 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.whatsapp:hover {
    background-color: #128C7E; /* Cambia el color al pasar el cursor */
}

/*Fuentes*/
/*Sansita*/
.sansita-regular {
    font-family: "Sansita", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sansita-bold {
    font-family: "Sansita", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .sansita-extrabold {
    font-family: "Sansita", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .sansita-black {
    font-family: "Sansita", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .sansita-regular-italic {
    font-family: "Sansita", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .sansita-bold-italic {
    font-family: "Sansita", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .sansita-extrabold-italic {
    font-family: "Sansita", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .sansita-black-italic {
    font-family: "Sansita", serif;
    font-weight: 900;
    font-style: italic;
  }
  
  /*karla*/
.karla-normal {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.karla-bold {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }