* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************************/
/*Grid*/
/**************************/
.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-template-columns: 4fr 1fr;
    gap: 5px;
    grid-template-areas:
        "header header"
        "section section"
        "main aside"
        "footer footer"
    ;
}

h2 {
    text-align: center;
}

.header {
    grid-area: header;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    grid-area: section;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.main {
    grid-area: main;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.aside {
    grid-area: aside;
    padding: 20px;
    margin:10px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Karla", sans-serif;
}
.aside h3{
    font-family: "Karla", sans-serif !important;
}

.footer {
    grid-area: footer;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

/**************************/
/*Contenedores*/
/**************************/
.cabeza {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.portada {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.contenido {
    padding: 10px;
    margin: 10px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #040a4485;
    border-radius: 10px;
}
.contenido-secundario {
    padding: 10px;
    margin: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*espacio entre cajas*/
    flex-wrap: nowrap;
}

.pauta {
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.servicios-cont {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    /*para centrar elementos*/
    align-items: center;
}

.cards {
    border: solid #ddd 1px;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.personal-cont {
    padding: .5rem;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    /*para centrar elementos*/
    align-items: center;
}
.contacto {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:start;
}

/**************************/
/*Header con menu opciones*/
/**************************/
.header__nav {
    width: 100%;
    height: 90px;
    background-color: #040a4485;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.header__logo img {
    width: 150px;
    padding: 5px;
}

.header__menu {
    list-style-type: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header__link {
    color: white;
    text-decoration: none;
    padding: 0.7rem;
}

.header__link:hover {
    color: #f70669;
    background-color: #040A44;
    border-radius: 20px;
}

.header__link:active {
    color: #040A44;
    background-color: whitesmoke;
    border-radius: 20px;
}

/**************************/
/*Formularios*/
/**************************/
.formulario-cont {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /*para centrar elementos*/
    align-items: center;
}

form {
    border: 1px solid #040A44;
    border-radius: 15px;
    width: 98%;
    height: 70vh;
}

form div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

form input,
label {
    padding: 5px;
}

form label {
    font-family: "Karla", sans-serif;
    font-size: 1.2rem;
}

/**************************/
/*Imagenes*/
/**************************/
img {
    padding: 10px;
}

.imgLogo {
    width: 350px;
}

.imgPortada {
    width: 70%;
}

.imgTextServicio {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    opacity: 0.7;
}

.imgTextServicio:hover {
    opacity: 1;
}

.textServicio {
    position: relative;
    color: #f70669;
    background-color: #040a44c5;
    font-family: "Karla", sans-serif !important;
}

/**************************/
/*Textos*/
/**************************/
h1 {
    padding: 20px;
}

h2,
h3,
h4 {
    padding: 10px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

h4 {
    padding: 5px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

p {
    padding: 10px;
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: justify;
    font-family: "Karla", sans-serif;
}

/**************************/
/*Redes*/
/**************************/
.social-media {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.social-media a {
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #f70669;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    /* Distancia desde la parte inferior de la ventana */
    right: 20px;
    /* Distancia desde la parte derecha de la ventana */
    background-color: #25D366;
    color: white;
    font-size: 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.whatsapp:hover {
    background-color: #128C7E;
    /* Cambia el color al pasar el cursor */
}

/**************************/
/*Fuentes*/
/**************************/
/*Sansita*/
.sansita-regular {
    font-family: "Sansita", serif;
    font-weight: 400;
    font-style: normal;
}

.sansita-bold {
    font-family: "Sansita", serif;
    font-weight: 700;
    font-style: normal;
}

.sansita-extrabold {
    font-family: "Sansita", serif;
    font-weight: 800;
    font-style: normal;
}

.sansita-black {
    font-family: "Sansita", serif;
    font-weight: 900;
    font-style: normal;
}

.sansita-regular-italic {
    font-family: "Sansita", serif;
    font-weight: 400;
    font-style: italic;
}

.sansita-bold-italic {
    font-family: "Sansita", serif;
    font-weight: 700;
    font-style: italic;
}

.sansita-extrabold-italic {
    font-family: "Sansita", serif;
    font-weight: 800;
    font-style: italic;
}

.sansita-black-italic {
    font-family: "Sansita", serif;
    font-weight: 900;
    font-style: italic;
}

/*karla*/
.karla-normal {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.karla-bold {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

/*mobile*/
@media screen and (max-width:768px) {
    .container {
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 2fr;
        gap:2.5px;
        grid-template-areas:
            "header"
            "section"
            "main"
            "aside"
            "footer"
        ;
    }
    
    .cabeza {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 480px) {
    .container {
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 1fr ;
        gap: .5px;
        grid-template-areas:
            "header"
            "section"
            "main"
            "aside"
            "footer"
        ;
    }

    .cabeza {
        padding: 2.5px;
        display: flex;
        flex-direction: column;
    }
}
