* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************************/
/*Principales*/
/**************************/
body {
    background-image: url('../images/fondos/kitchen9.jpg');
    background-size: cover;
    /* O "background-size: contain" para adaptarse */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Para mantener el fondo fijo al hacer scroll */
    background-color: #f8f5f2;
    /* Color de respaldo en caso de que la imagen no cargue */
}

div {

    padding: 10px;
}

.transparencia {
    background-color: #ffffffb5;
    border-radius: 2%;
}

/**************************/
/*Redes*/
/**************************/
.social-media {
    padding: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #31303079;
}

.social-media a {
    margin: 0 10px;
    font-size: 40px;
    text-decoration: none;
    color: #f8f8f8e0;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #f70669;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    /* Distancia desde la parte inferior de la ventana */
    right: 20px;
    /* Distancia desde la parte derecha de la ventana */
    background-color: #25D366;
    color: white;
    font-size: 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.whatsapp:hover {
    background-color: #128C7E;
    /* Cambia el color al pasar el cursor */
}


/**************************/
/*Textos*/
/**************************/
h1 {
    padding: 5px;
    text-align: justify;
   /* font-size: 1.5rem;*/
}

h2 {
   /* font-size: 1.4rem;*/
}

h3,
p {
    /*font-size: 1rem;*/
}

h2,
h3,
h4,
p {
    padding: 5px;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-style: normal;
    /*background-color: #ffffffb5;*/
    text-align: justify;
}

h4 {
    padding: 5px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

p {
    padding: 10px;
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: justify;
    font-family: "Karla", sans-serif;
}

/**************************/
/*Imagenes*/
/**************************/
.imgServicio {
    border-radius: 10%;
    opacity: 0.7;
    width: 200px;
    height: 200px;
}

.imgServicio:hover {
    opacity: 1;
}

/**************************/
/*Formularios*/
/**************************/
.formulario-cont {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /*para centrar elementos*/
    align-items: center;
}

form {
    border: 1px solid #040A44;
    border-radius: 15px;
}

form div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

form input,
label {
    padding: 5px;
}

form label {
    font-family: "Karla", sans-serif;
    font-size: 1.2rem;
}

/**************************/
/*Fuentes*/
/**************************/
/*Sansita*/
.sansita-regular {
    font-family: "Sansita", serif;
    font-weight: 400;
    font-style: normal;
}

.sansita-bold {
    font-family: "Sansita", serif;
    font-weight: 700;
    font-style: normal;
}

.sansita-extrabold {
    font-family: "Sansita", serif;
    font-weight: 800;
    font-style: normal;
}

.sansita-black {
    font-family: "Sansita", serif;
    font-weight: 900;
    font-style: normal;
}

.sansita-regular-italic {
    font-family: "Sansita", serif;
    font-weight: 400;
    font-style: italic;
}

.sansita-bold-italic {
    font-family: "Sansita", serif;
    font-weight: 700;
    font-style: italic;
}

.sansita-extrabold-italic {
    font-family: "Sansita", serif;
    font-weight: 800;
    font-style: italic;
}

.sansita-black-italic {
    font-family: "Sansita", serif;
    font-weight: 900;
    font-style: italic;
}

/*karla*/
.karla-normal {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.karla-bold {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}